
/*nav bar*/
html{
	background-color:pink;
}


.logo{
	width:50px;
	height:35px;
	position:left;
}
img {
  border: 1px solid #ddd;
  border-radius: none;
  padding:5px;
  width: min(20rem, 95%);
  margin:auto;
  
}

/*nav bar*/

  .logo img{
    width: 25px;
    height: 25px;    
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(241, 56, 164);
	position:fixed;
	width:100%;
	z-index:9999;
	top:0;
	
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(184, 9, 146);
  }
  
  .active {
    background-color: #2AA8D0;
  }


/*contact me*/
body {
  font-family: "Lato", sans-serif;
  color: black;
  margin: 0;
}



.invalid {
  border: 1px solid red;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-4 {
  margin-bottom: 40px;
}

p {
  font-size: 20px;
}



input {
  padding: 10px;
  border-radius: 5px;
  width: 280px;
  border: 1px solid ;
  font-size: 18px;
  outline: none;
  color: #333;
}

.form-control {
  font-size: 20px;
  margin-bottom: 10px;
  
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 6px;
}

label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

.hide {
  opacity: 0;
}

textarea {
  width: 560px;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  height: 200px;
  font-size: 18px;
}

button {
  color: black;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background: none;
  cursor: pointer;
  transition: all 0.5s;
  color: black;
}

button:hover {
  background-image: linear-gradient(
    to right,
    rgb(163, 32, 184) 0%,
    rgb(163, 32, 184) 100%
  
  );
  color: white;
}

form {
  
  padding-left: 20px;
  padding-top:30px;
  
}


.try{
	padding-top:10px;
	padding-left:500px;
	background-color:pink;
	
	
}

.newimage{
	float:left;
	padding-top:130px;
	padding-left:80px;
	
}

/*scrolling to top */
.top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: rgb(128, 128, 255) url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='currentColor' d='M352 352c-8.188 0-16.38-3.125-22.62-9.375L192 205.3l-137.4 137.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25C368.4 348.9 360.2 352 352 352z'%3E%3C/path%3E%3C/svg%3E") center no-repeat;
  box-shadow: 0 0.25rem 0.5rem 0 gray;
  opacity: 0.7;
}
.top:hover {
  opacity: 0.8;
}
.top:focus {
  opacity: 0.9;
}
.top:active {
  opacity: 1;
}


